############################
# Strapi
############################

strapi-cms/*.env
strapi-cms/exports
strapi-cms/node_modules/
strapi-cms/.strapi/
strapi-cms/dist/
strapi-cms/build/
strapi-cms/.strapi-updater.json
strapi-cms/.strapi-cloud.json

frontend-next/.env*
frontend-next/node_modules/
frontend-next/.next/